body 
{
    background: black;
    max-width: 325px;
    margin: auto;
}

.container 
{
    background: black;
    margin-top: 50px;
}

.entry
{
    width: 265px;
    height: 75px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 2px;
    font-size: 30px;
    font-weight: bold;
}

.calculator-containter 
{
    width: 300px;
    background-color: gray;
    border-radius: 20px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numButton 
{
    height: 59px;
    width: 59px;
    margin: 10px 4px;
    border: none !important;
}

.mathButton
{
    height: 59px;
    width: 59px;
    margin: 10px 4px;
    border: none !important; 
}

.zeroButton
{
    height: 59px;
    width: 126px;
    margin: 10px 4px;
    border: none !important; 
}
